.landingPage {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;

    button {
        font-weight: bold;
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #77A6B6;
    max-width: 1200px;
    width: 80%;
    height: 100%;
    min-height: 500px;
    padding-top: 50px;
    text-align: center;
}

.spanLanding {
    display: inline-block;
    margin-top: 30px;
}

button {
    background-color: #78B677;
    border: none;
}

.errorText {
    color: #dd4f4f;
}

.disabledBtn {
    background-color: grey;
}

// RESPONSIVE STYLING::after

@media (max-width: 940px) {

    .landingPage {
        min-height: 700px;
    }

    .landingPage .wrapper {
        height: 100%;
        width: 100%;
        border-radius: 0;
    }
}

@media (max-width: 480px) {
    .landingPage .wrapper p,
    .landingPage .wrapper h1,
    .landingPage .wrapper .spanLanding {
        width: 80%;
    }

    .spanLanding {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}