html{
    font-size: 125%;
}

p, button, h2, h3, label {
    font-family: 'Baloo Thambi 2', sans-serif;
}

p, h1, button, label{
    color: white;
}

h1 {
    font-family: 'Rowdies', cursive;
}

h2 {
    margin-bottom: 0;
    color:#605F5F;
}

h3{
    color: black;
}

.title, .caption {
    font-family: 'Caveat Brush', sans-serif;
    font-size: 1rem;
}

.caption {
    font-size: 2rem;
}

.startBtn {
    font-family: 'Baloo Thambi 2', sans-serif;
}

.uppercase{
    text-transform: uppercase;
}

.spanLanding p.uppercase{
    font-weight: bold;
}

label {
    text-transform: uppercase;
    font-weight: 500;
    line-height: 30px;
}

// RESPONSIVE STYLING:

@media (max-width: 768px){
    label{
        line-height: 25px;
    }
}