html{
    font-size: 125%;
}

p, button, h2, h3, label{
    font-family: 'Roboto', sans-serif;
}

h1{
    font-family: 'Rowdies', cursive;
}

h2{
    margin-bottom: 0;
}
.uppercase{
    text-transform: uppercase;
}

.spanLanding p.uppercase{
    font-weight: bold;
}

p, h1, button, label{
    color: white;
}

label {
    text-transform: uppercase;
    font-weight: 500;
    line-height: 25px;
}

h2{
    color:#605F5F;
;
}

h3{
    color: black;
}

