html{
    font-size: 125%;
}

p, button, h2, h3{
    font-family: 'Roboto', sans-serif;
}

h1{
    font-family: 'Rowdies', cursive;
}

.uppercase{
    text-transform: uppercase;
}

.spanLanding p.uppercase{
    font-weight: bold;
}

p, h1, button{
    color: white;
}

h2{
    color:#605F5F;
;
}

h3{
    color: black;
}

