@import 'setup';
@import 'typography';
@import 'landing-page';

// GENERAL
body, section {
    background-color: #405B72;
}

// QUESTION CARD STYLING

.questionPage {
    display: none;
    // display: flex;
    justify-content: center;
    align-items: center;
}

.questionCard {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    width: 80%;
    background-color: #FFFDF6;
    margin-bottom: 5%;
    border-radius: 10px;
    align-items: center;
    img {
        object-fit: cover;
        max-height: 500px;
        width: 50%;
        border: 1px solid #C5C6C6;
        border-radius: 10px;
    }
}

.incorrectCard {
    background-color: #ffdede
}

.answerBox {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    gap: 20px;
    margin: 40px;
    padding-left: 0;

    > li {
        list-style: none;
        width: calc(50% - 20px);
        display: inline-block;
    }

    input[type="radio"] {
        opacity: 0;
        position: fixed;
        width: 0;
    }

    label {
        box-sizing: border-box;
        padding: 10px 20px;
        height: 50px;
        width: 100%;
        // background-color: #9AB8C2;
        background-color: #405968;
        border-radius: 20px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    label.correct {
        background-color: #498146;
        border: none;
        pointer-events: none;
    }
    label.incorrect {
        background-color: #D43A3A;
        border: none;
        pointer-events: none;
    }

    label:hover, 
    label:focus-within {
        background-color: #71878f;
    }

    input[type="radio"]:checked + label,
    input[type="radio"]:focus-within + label {
        background-color: #00AAE2;
        border: 2px solid #38403F;
    }

    button{
        background-color: #9AB8C2;
        border-radius: 20px;
        margin: 0 auto;
        width: calc(50% - 20px);
    }

    > div {
        width: calc(50% - 20px);
    }
}

.wrapper button {
    padding: 9px 15px;
    width: 200px;
    border-radius: 20px;
    margin-bottom: 75px;
}

.score{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    background-color: #FFFDF6;
    margin-bottom: 5%;
    border-radius: 10px;
    align-items: center;
    gap: 25px;
    padding: 35px;

    h2, 
    button {
        margin: 0;
    }

    button {
        padding: 15px 15px;
    }
}

footer {
    height: 3vh;
    p {
        margin: 0;
        text-align: center;
        font-size: 0.75rem;
    }
    
    a {
        color: #ffffff;
        text-decoration: underline;
    }

    a:hover {
        color:#498146; 
    }
}

// RESPONSIVE STYLING:

@media (max-width: 940px) {
    .questionPage {
        height: 100%;
        
        .wrapper {
            padding-top: 5px;
            width: 100%;
            border-radius: 0;
            margin: 0 auto;
        }
    }

    .questionCard {
        width: 90%;
    }
}

@media (max-width: 480px) {
    .landingPage > .wrapper > p.caption {
        font-size: 1.25rem;
    }

    .questionCard {
        width: 95%;
        border-radius: 5px;
        h3 {
            font-size: 0.9rem;
            width: 90%;
        }
        img {
            width: 75%;
        }
    }

    .answerBox {
        width: 90%;
        > li {
            width: 100%;
        }
    }

    .score {
        width: 95%;
    }

    footer p {
        font-size: 0.5rem;
    }
}