@import 'setup';
@import 'typography';
@import 'landing-page';

// QUESTION CARD STYLING

.questionPage{
    display: none;
    // display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.questionCard{
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    width: 80%;
    background-color: #FFFDF6;
    margin-bottom: 5%;
    border-radius: 10px;
    align-items: center;
    img {
        width: 70%;
        border: 1px solid #C5C6C6;
        border-radius: 10px;
    }
}

.answerBox {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    gap: 20px;
    margin: 40px;
}

.answerBox > div {
    width: calc(50% - 20px);
}

.answerBox input[type="radio"]{
    opacity: 0;
    position: fixed;
    width: 0;
}

.answerBox label {
    box-sizing: border-box;
    padding: 10px 20px;
    height: 50px;
    width: 100%;
    background-color: #9AB8C2;
    border-radius: 20px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.answerBox input[type="radio"]:checked + label,
.answerBox input[type="radio"]:focus-within + label {
    background-color: #3F606B;
    border: 2px solid #89B467;
}

.answerBox label.correct {
    background-color: #75CB6E;
    border: none;
}
.answerBox label.incorrect {
    background-color: #D43A3A;
    border: none;
}

.answerBox button{
    background-color: #9AB8C2;
    border-radius: 20px;
    // flex-basis: 400px;
    margin: 0 auto;
    width: calc(50% - 20px);
}

.blueBox button {
    padding: 5px 15px;
    width: 200px;
    border-radius: 20px;
    margin-bottom: 75px;
}

.score{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    background-color: #FFFDF6;
    margin-bottom: 5%;
    border-radius: 10px;
    align-items: center;
    gap: 60px;
    padding: 20px;
}

.score h2, .score button{
    margin: 0;
}

.score button{
    padding: 15px 15px;
}

// RESPONSIVE:
// 940, 768, 480
// make min height 
// after 940 blue takes up everything
// card stays within same width (give max width also)
// font sizes after 768?
// 480: cards tight to edges, flex column on answer buttons

// RESPONSIVE STYLING:

@media (max-width: 940px){
    .questionPage{
        height: 100%;
    }
    .questionPage .blueBox{
        width: 100%;
        border-radius: 0;
        margin: 0 auto;
    }

    .questionCard{
        width: 80%;
    }
}

@media (max-width: 480px){
    .questionCard{
        width: 100%;
        border-radius: 0;
    }

    .answerBox > div{
        width: 100%;
    }
}